body {
    background-color: #fff;
}

.breadcrumbs a {
    color: $dark-gray;
}

.btn-back {
    color: #170706;

    &:hover {
        color: $primary-color;
    }
}

.product-title {
    color: $primary-color;
}

.product-subtitle {
    margin-left: 100px;
    position: relative;
}

.product-subtitle:before {
    content: "";
    height: 4px;
    width: 69px;
    background-color: #EB0E03;
    position: absolute;
    left: -98px;
    top: 50%;
    transform: translateY(-50%);
}

.product-item {
    position: relative;
    margin-bottom: 5px;

    @include breakpoint(medium) {
        margin-bottom: 23px;
    }

    svg {
        cursor: pointer;
    }

    &__title {
        position: absolute;
        z-index: 2;
        top: 14px;
        left: 22px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
    }

    &__rate {
        svg+svg {
            margin-left: 4px;
        }

        svg:hover {
            stroke: $primary-color;
        }
    }

    &__social {
        svg+svg {
            margin-left: 30px;
        }

        margin-right: 4px;
    }

}

.secondary {
    color: #EBF1CD;
}

.primary {
    color: $primary-color;
}

.product-item__desc {
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
}

.custom-input {
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 0px;
    height: 30px;
    max-width: 70px;

    &:disabled {
        background-color: #fff;
        border: none;
    }
}

.custom-input:disabled {
    // background-color: #fff;
}

.custom-label {
    font-weight: 500;
    flex-grow: 1;
}

.custom-select {
    max-width: 270px;
    border: none;
    color: $dark-gray;
    padding-left: 0;

    option {
        background-color: #fff;
    }
}

.grams {
    margin-right: 130px;
    font-weight: 400;
    color: $dark-gray;
    float: right;
}

.product-name {
    position: absolute;
    top: -8px;
    cursor: pointer;
}

.relative {
    position: relative;
}

.mr-3 {
    margin-right: 30px;
    background: $white;
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}

.logo-large {
    position: absolute;
    left: 0;
    background-color: $secondary-color;
    border-radius: 0px 5px 5px 0px;

    @include breakpoint(medium) {
        padding: 5px 5px 0px 58px;
        top: 25%;
        left: 0;
    }

    @include breakpoint(large) {
        padding: 5px 31px 14px 100px;
        top: 34%;
        left: 0;
    }

    &__text {
        margin-bottom: 0;
        font-size: 18px;

        @include breakpoint(medium) {
            font-size: 50px;
        }
    }

    &__desc {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 12px;

        @include breakpoint(medium) {
            font-size: 30px;
        }
    }
}