body {
    background-color: #fff;
}

.breadcrumbs a {
    color: $dark-gray;
}

.btn-back {
    color: #170706;

    &:hover {
        color: $primary-color;
    }
}

.product-title {
    color: $primary-color;
}

.product-subtitle {
    margin-left: 100px;
    position: relative;
}

.product-subtitle:before {
    content: "";
    height: 4px;
    width: 69px;
    background-color: #EB0E03;
    position: absolute;
    left: -98px;
    top: 50%;
    transform: translateY(-50%);
}

.product-item {
    position: relative;
    margin-bottom: 5px;

    @include breakpoint(medium) {
        margin-bottom: 23px;
    }

    svg {
        cursor: pointer;
    }

    &__title {
        position: absolute;
        z-index: 2;
        top: 14px;
        left: 22px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
    }

    &__rate {
        svg+svg {
            margin-left: 4px;
        }

        svg:hover {
            stroke: $primary-color;
        }
    }

    &__social {
        svg+svg {
            margin-left: 30px;
        }

        margin-right: 4px;
    }

}

.secondary {
    color: #EBF1CD;
}

.primary {
    color: $primary-color;
}

.product-item__desc {
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
}

.custom-input {
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 0px;
    height: 30px;
    max-width: 70px;
    border-color: $primary-color;
    border-width: 0.5px;
    &:focus {
        border-width: 1.5px;
    }
    &:hover {
        background-color: $secondary-color;
    }
    &::-webkit-inner-spin-button {
        display: none;
    }
    &:disabled {
        background-color: #fff;
        border: none;
    }
}

.custom-input:disabled {
    // background-color: #fff;
}

.custom-label {
    font-weight: 500;
    flex-grow: 1;
}

.custom-select {
    max-width: 270px;
    border: none;
    color: $dark-gray;
    padding-left: 0;

    option {
        background-color: #fff;
    }
}

.grams {
    margin-right: 130px;
    font-weight: 400;
    color: $dark-gray;
    float: right;
}

.product-name {
    position: absolute;
    top: -8px;
    cursor: pointer;
}

.relative {
    position: relative;
}

.mr-3 {
    margin-right: 30px;
    background: $white;
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}

.logo-large {
    position: absolute;
    left: 0;
    background-color: $secondary-color;
    border-radius: 0px 5px 5px 0px;

    @include breakpoint(medium) {
        padding: 5px 5px 0px 58px;
        top: 6%;  
        left: 0;
    }
    @include breakpoint(large){
        top: 11%;
    }

    @include breakpoint(xlarge) {
        padding: 5px 31px 14px 100px;
        // top: 34%;
        top: 12%;       
        left: 0;
    }

    &__text {
        margin-bottom: 0;
        font-size: 18px;

        @include breakpoint(medium) {
            font-size: 50px;
        }
    }

    &__desc {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 12px;

        @include breakpoint(medium) {
            font-size: 30px;
        }
    }
}
.product-list {
    margin: 0;
    list-style: none;
}
.calculate {
    padding-top: 50px;
    &__title {
        margin-bottom: 0;
    }
}
.basket-list {
    padding: 15px 0 0;
    margin-bottom: 14px;
    .button {
        font-size: 18px;
        font-weight: 500;
        background-color: $alert-color;
        min-width: 213px;
        margin-bottom: 45px;
        @include breakpoint(medium){
            min-width: 258px;
        }
        @include breakpoint(large){
            min-width: 270px;
        }
        &:hover {
            opacity: 0.7;
        }
        
    }
    
}
.accordion-title:hover, .accordion-title:focus {
    background-color: #fff;
}
.accordion-content {
    border: none;
}
.accordion-title {
    border: none;
}
.accordion-title::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.5rem;
    content: url('../img/svg/close.svg');
}
.is-active > .accordion-title::before {
    content: url('../img/svg/open.svg');
}
:last-child:not(.is-active) > .accordion-title {
    border-bottom: none;
}
.bnt-product {
    min-width: 253px;
    margin-bottom: 28px;
    background-color: $dark-gray;
    font-size: 18px;
    border-radius: 5px;
    color: $secondary-color;
    @include breakpoint(medium){
        // min-width: 359px;
        // margin-bottom: 45px;
    }
    &:hover {
        color: $black;
    }
    &:active {
        background-color: $alert-color;
        color: $secondary-color;
    }
}
.order-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    border: 1px solid $dark-gray;
    border-radius: 5px;
    padding: 30px 30px 0;
    &__list {
        display: flex;
        justify-content: space-between;
    }
}
.bnt-product {
    transition: opacity 0.5s ease-in;
}
.form-content {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.total-amount {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}





.ba-map__show{
    height: 223px;
}