<footer class="ba-footer">
    <div class="row">
        <div class="column small-12 medium-3 large-4">
            <div class="ba-schedule">
                <h5 class="ba-schedule__title">Work schedule</h5>
                <p>Monday - Friday: 8 - 22</p>
                <p>Weekends: 9 - 21</p>
            </div>


        </div>
        <div class="column small-12 medium-3 large-4">
            <div class="ba-contact">
                <h5 class="ba-contact__title">Contact</h5>
                <p>Quinsborough Road</p>
                <p>Bray, Co. Wicklow</p>
                <p>Ireland</p>
                <a href="tel:+353012557566">+353 (0) 1 255 7566</a>
                <a href="mailto:editorial@easyfood.ie">editorial@easyfood.ie</a>
            </div>
        </div>
        <div class="column small-12 medium-6 large-4">
            <div class="ba-map">
                <h5 class="ba-map__title">Map</h5>
                <img src="../assets/img/Map-Easy-food.png" alt="map">
            </div>
            <div class="ba-copy">
                <span>© Copyright 2018 Easy Food. All rights reserved.</span>
                <span>Advertising Privacy policy</span>
            </div>
        </div>
    </div>
    <!-- <div class="row">
                <div class="column large-8"></div>
                <div class="column large-4">
                </div>
            </div>
    </div> -->

</footer>