<header class="ba-header">
    <div class="row align-center-middle small-collapse">
        <!-- column -->
        <div class="column small-12 medium-6 large-4 large-offset-4">
            <nav class="ba-nav show-for-medium">
                <ul class="ba-main-menu ">
                    <li {{#ifpage 'index'}} class="is-active" {{/ifpage}}><a href="index.html" class="ba-main-menu__link">Head</a></li>
                    <li {{#ifpage 'product'}} class="is-active" {{/ifpage}}><a href="product.html" class="ba-main-menu__link">Catalogue</a></li>
                    <li {{#ifpage 'order'}} class="is-active" {{/ifpage}}><a href="order.html" class="ba-main-menu__link">Pay & Delivery</a></li>
                </ul>
            </nav>
            <!-- ba-nav -->
            <div class="flex-container mob-menu hide-for-medium">
                <div class="small-logo">
                    <h5 class="logo-text salsa">Easy Food <span>BE HEALTHY</span> </h5>
                </div>
                <button class="menu-icon dark" type="button" data-open="offCanvas">
                </button>
            </div>
        </div>
        <!-- column -->
        <div class="column small-12 medium-6 large-4 show-for-medium">
            <div class="ba-right-menu">
                <div class="ba-right-menu__search">
                    <form action="#" method="POST" class="ba-search-form">

                        <input type="text" name="search" class="ba-search-form__input">
                        <button type="submit" class="ba-btn">
                            <svg width="30" height="30">
                                <use xlink:href="#icon-search" />
                            </svg>
                        </button>
                    </form>
                </div>
                <!-- ba-right-menu__search -->

                <div class="ba-right-menu__profile">
                    <a href="#">
                        <svg width="30" height="30">
                            <use xlink:href="#icon-user" />
                        </svg>
                    </a>
                </div>
                <!-- ba-right-menu__profile -->

                <div class="ba-right-menu__basket">
                    <a href="#">
                        <svg width="30" height="30">
                            <use xlink:href="#icon-basket" />
                        </svg>
                    </a>
                </div>
                <!-- ba-right-menu__basket -->

                <div class="ba-right-menu__sign-in">
                    <button href="#" class="button header-button">
                        Sign in
                    </button>
                </div>
                <!-- ba-right-menu__sign-in -->

            </div>
            <!-- ba-right-menu -->
        </div>
        <!-- column -->
    </div>
    <!-- ba-row -->

</header>
<!-- ba-header -->

<section class="ba-product">
    <div class="row">
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
    </div>
</section>