<header class="ba-header">
    <div class="row align-center-middle">
        <div class="column large-4"></div>
        <!-- column -->
        <div class="column large-4">
            <nav class="ba-nav">
                <ul class="ba-main-menu">
                    <li><a href="#" class="ba-main-menu__link">Head</a></li>
                    <li><a href="#" class="ba-main-menu__link">Catalogue</a></li>
                    <li><a href="#" class="ba-main-menu__link">Pay & Delivery</a></li>
                </ul>

            </nav>
            <!-- ba-nav -->
        </div>
        <!-- column -->
        <div class="column large-4">
            <div class="ba-right-menu">
                <div class="ba-right-menu__search">
                    <form action="#" method="POST" class="ba-search-form">
                        
                        <input type="text" name="search" class="ba-search-form__input">
                        <button type="submit" class="ba-btn">
                            <svg width="30" height="30">
                                <use xlink:href="#icon-search" />
                            </svg>
                        </button>
                    </form>
                </div>
                <!-- ba-right-menu__search -->

                <div class="ba-right-menu__profile">
                    <a href="#">
                        <svg width="30" height="30">
                            <use xlink:href="#icon-user" />
                        </svg>
                    </a>
                </div>
                <!-- ba-right-menu__profile -->

                <div class="ba-right-menu__basket">
                    <a href="#">
                        <svg width="30" height="30">
                            <use xlink:href="#icon-basket" />
                        </svg>
                    </a>
                </div>
                <!-- ba-right-menu__basket -->

                <div class="ba-right-menu__sign-in">
                    <button href="#" class="button header-button">
                        Sign in
                    </button>
                </div>
                <!-- ba-right-menu__sign-in -->

            </div>
            <!-- ba-right-menu -->

        </div>
        <!-- column -->
    </div>
    <!-- ba-row -->

</header>
<!-- ba-header -->

<section class="ba-product">
    <div class="row">
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
        <div class="column small-12 medium-6 large-4">
            <article class="ba-product__item">
                <a href="#">

                </a>
            </article>
        </div>
    </div>
</section>