<section class="featured-slider row column">
    <!-- <article class="featured-slider__item" style="background-image: url({{root}}assets/img/banner.png);">

    </article>
    <article class="featured-slider__item" style="background-image: url({{root}}assets/img/banner_2.png);">

    </article>
    <article class="featured-slider__item" style="background-image: url({{root}}assets/img/banner_3.png);">

    </article> -->
    <!-- <div class="featured-slider__dots"></div> -->
    <img src="{{root}}/assets/img/banner.png" alt="">
    <img src="{{root}}/assets/img/banner2.png" alt="">
    <img src="{{root}}/assets/img/banner3.png" alt="">
</section>
<div class="featured-slider__dots"></div>